Naive Bayes

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv('play_tennis.csv')

In [6]:
dataset=dataset.iloc[:,1:]

In [7]:
dataset

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [10]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [9]:
from sklearn.model_selection import train_test_split

In [242]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.1,random_state=2)

In [243]:
classes=np.unique(train_y)

In [244]:
#loop dataset to fetch unique values to calculate the probability of each value given class
#Dictionary representation for the data
#main keys are class values
data={}
results=np.unique(train_y,return_counts=True)
classes=results[0]
n_class=results[1]
class_counts=dict(zip(classes,n_class))

for class_label in classes:
    data[class_label]={}
    
    
for index in range(len(train_x)):
    for item in train_x[index]:
        if item not in data[train_y[index]]:
            data[train_y[index]][item]=(1/class_counts[train_y[index]])
        else:
            data[train_y[index]][item]+=(1/class_counts[train_y[index]])

In [245]:
def initialize():
    prob_class=dict(zip(classes,[1]*len(classes)))
    for p_class in prob_class:
        prob_class[p_class]=(class_counts[p_class]/sum(n_class))
    return prob_class

In [246]:
predicted_values=[]
for index in range(len(test_x)):
    prob_class=initialize()
    for item in test_x[index]:
        for p_class in classes:
            search_data=data[p_class]
            try:
                prob_class[p_class]*=search_data[item]
            except:
                prob_class[p_class]=0
    print(prob_class)
    predicted_values.append(max(prob_class,key=prob_class.get))

{'No': 0.0, 'Yes': 0.008746355685131194}
{'No': 0.0026666666666666674, 'Yes': 0.02429543245869776}

In [247]:
print(test_y)
print(predicted_values)

['Yes' 'Yes']
['Yes', 'Yes']

In [248]:
accuracy=sum(test_y==predicted_values)/len(test_y)*100
print(accuracy)

100.0